<algolia-search>
  <div id="docsearch" class="docsearch"></div>
</algolia-search>
<script>
  import docsearch from '@docsearch/js';

  const translations = {
    modal: {
      searchBox: {
        resetButtonTitle: 'Anfrage löschen',
        resetButtonAriaLabel: 'Anfrage löschen',
        cancelButtonText: 'Abbrechen',
        cancelButtonAriaLabel: 'Abbrechen',
      },
      startScreen: {
        recentSearchesTitle: 'Neueste',
        noRecentSearchesText: 'Keine aktuellen Suchanfragen',
        saveRecentSearchButtonTitle: 'Diese Suche speichern',
        removeRecentSearchButtonTitle: 'Diese Suche aus dem Verlauf entfernen',
        favoriteSearchesTitle: 'Favorit',
        removeFavoriteSearchButtonTitle: 'Diese Suche aus den Favoriten entfernen',
      },
      errorScreen: {
        titleText: 'Ergebnisse können nicht abgerufen werden',
        helpText: 'Überprüfen Sie bitte Ihre Netzwerkverbindung.',
      },
      footer: {
        selectText: 'Auswählen',
        selectKeyAriaLabel: 'Eingabetaste',
        navigateText: 'Navigieren',
        navigateUpKeyAriaLabel: 'Pfeil nach oben',
        navigateDownKeyAriaLabel: 'Pfeil nach unten',
        closeText: 'Schließen',
        closeKeyAriaLabel: 'Escape-Taste',
        searchByText: 'Suchen nach',
      },
      noResultsScreen: {
        noResultsText: 'Keine Ergebnisse für',
        suggestedQueryText: 'Versuche zu suchen nach',
        reportMissingResultsText: 'Glaubst du, dass die Ergebnisse fehlen?',
        reportMissingResultsLinkText: 'Lasst es uns wissen',
      },
    },
  };

  class AlgoliaSearch extends HTMLElement {
    connectedCallback() {
      docsearch({
        container: '#docsearch', appId: 'YOUR_APP_ID', indexName: 'YOUR_INDEX_NAME', apiKey: 'YOUR_SEARCH_API_KEY', translations
      });
    }
  }

  customElements.define('algolia-search', AlgoliaSearch);
</script>
<style is:global>
  @import url('/node_modules/@docsearch/css');

  /* stylelint-disable selector-class-pattern */
  body .DocSearch-Help {
    color: red;
  }

  body .DocSearch-Modal {
    max-width: 600px;

    background: var(--color-quinary);
    border: var(--border-size) solid #000;
    box-shadow: var(--shadow-size) var(--shadow-size) 0 0 #000;

    transition: transform var(--animation-duration) var(--animation-easing),
    box-shadow var(--animation-duration) var(--animation-easing);
  }

  body .DocSearch-Footer {
    background: var(--color-quinary);
    box-shadow: none;
  }

  body .DocSearch-Commands li, body .DocSearch-Logo {
    padding: 6px 12px;
    border: var(--border-size) solid #000;
    border-radius: var(--border-radius);
  }

  body .DocSearch-Logo {
    margin-top: -2px;
    box-shadow: var(--shadow-size) var(--shadow-size) 0 0 #000;
    transition: transform var(--animation-duration) var(--animation-easing),
    box-shadow var(--animation-duration) var(--animation-easing);
  }

  body .DocSearch-Logo:hover {
    transform: translate(var(--shadow-size), var(--shadow-size));
    box-shadow: 0 0 0 0 #000;
  }

  body .DocSearch-Label {
    color: var(--color-black);
  }
</style>
<style>
  .docsearch {
    display: none;
  }
</style>
