<algolia-search>
  <div id="docsearch" class="docsearch"></div>
</algolia-search>
<script>
  import docsearch from '@docsearch/js';

  class AlgoliaSearch extends HTMLElement {
    connectedCallback() {
      docsearch({
        container: '#docsearch', appId: 'YOUR_APP_ID', indexName: 'YOUR_INDEX_NAME', apiKey: 'YOUR_SEARCH_API_KEY'
      });
    }
  }

  customElements.define('algolia-search', AlgoliaSearch);
</script>
<style is:global>
  @import url('/node_modules/@docsearch/css');

  /* stylelint-disable selector-class-pattern */
  body .DocSearch-Help {
    color: red;
  }

  body .DocSearch-Modal {
    background: var(--color-quinary);
    border: var(--border-size) solid #000;
    box-shadow: var(--shadow-size) var(--shadow-size) 0 0 #000;
    transition: transform var(--animation-duration) var(--animation-easing),
    box-shadow var(--animation-duration) var(--animation-easing);
  }

  body .DocSearch-Footer {
    background: var(--color-quinary);
  }

  body .DocSearch-Commands li, body .DocSearch-Logo {
    padding: 6px 12px;
    border: var(--border-size) solid #000;
    border-radius: var(--border-radius);
  }

  body .DocSearch-Logo {
    margin-top: -2px;
    box-shadow: var(--shadow-size) var(--shadow-size) 0 0 #000;
    transition: transform var(--animation-duration) var(--animation-easing),
    box-shadow var(--animation-duration) var(--animation-easing);
  }

  body .DocSearch-Logo:hover {
    transform: translate(var(--shadow-size), var(--shadow-size));
    box-shadow: 0 0 0 0 #000;
  }

  body .DocSearch-Label {
    color: var(--color-black);
  }

  body .DocSearch-Footer {
    box-shadow: none;
  }
</style>
<style>
  .docsearch {
    display: none;
  }
</style>
