<algolia-search>
  <div id="docsearch" class="docsearch-hidden"></div>
</algolia-search>
<script>
  import docsearch from '@docsearch/js';

  const translations = {
    modal: {
      searchBox: {
        resetButtonTitle: 'Anfrage löschen',
        resetButtonAriaLabel: 'Anfrage löschen',
        cancelButtonText: 'Abbrechen',
        cancelButtonAriaLabel: 'Abbrechen',
      },
      startScreen: {
        recentSearchesTitle: 'Neueste',
        noRecentSearchesText: 'Keine aktuellen Suchanfragen',
        saveRecentSearchButtonTitle: 'Diese Suche speichern',
        removeRecentSearchButtonTitle: 'Diese Suche aus dem Verlauf entfernen',
        favoriteSearchesTitle: 'Favorit',
        removeFavoriteSearchButtonTitle: 'Diese Suche aus den Favoriten entfernen',
      },
      errorScreen: {
        titleText: 'Ergebnisse können nicht abgerufen werden',
        helpText: 'Überprüfen Sie bitte Ihre Netzwerkverbindung.',
      },
      footer: {
        selectText: 'Auswählen',
        selectKeyAriaLabel: 'Eingabetaste',
        navigateText: 'Navigieren',
        navigateUpKeyAriaLabel: 'Pfeil nach oben',
        navigateDownKeyAriaLabel: 'Pfeil nach unten',
        closeText: 'Schließen',
        closeKeyAriaLabel: 'Escape-Taste',
        searchByText: 'Suche durch',
      },
      noResultsScreen: {
        noResultsText: 'Keine Ergebnisse für',
        suggestedQueryText: 'Versuche zu suchen nach',
        reportMissingResultsText: 'Glaubst du, dass die Ergebnisse fehlen?',
        reportMissingResultsLinkText: 'Lasst es uns wissen',
      },
    },
  };

  class AlgoliaSearch extends HTMLElement {
    connectedCallback() {
      docsearch({
        container: '#docsearch', appId: 'YOUR_APP_ID', indexName: 'YOUR_INDEX_NAME', apiKey: 'YOUR_SEARCH_API_KEY', translations, placeholder: 'Olis.tech durchsuchen'
      });
    }
  }

  customElements.define('algolia-search', AlgoliaSearch);
</script>
<style is:global>
  @import "/node_modules/@docsearch/css";
  @import "./AlgoliaSearch.scss";
</style>
<style>
  .docsearch-hidden {
    display: none;
  }
</style>
