---
const { color } = Astro.props
---
<style define:vars={{color}}>
  .separator {
    position: relative;
    width: 100vw;
  }
  .separator::before, .separator::after {
    bottom: -16px;
    content: "";
    height: 16px;
    position: absolute;
    width: 100vw;
  }
  .separator::before {
    mask: url('./images/layout/wave.svg');
    -webkit-mask: url('./images/layout/wave.svg');
    background-color: var(--color);
  }
  .separator::after {
    background: transparent url('./images/layout/wave-border.svg') 0 repeat-x;
  }
</style>
<div class="separator">
</div>
