---
import {transformEntryToPostWindow} from "../../lib/helper/transformEntryToPostWindow";
import { collections } from "../../content/config";
import { getCollection } from 'astro:content';
import BaseLayout from "../../layouts/BaseLayout.astro";
import Post from "../../components/post/Post.astro";
export async function getStaticPaths() {
  const routes: {
    params: {
      slug: string,
      category: string
    },
    props: any
  }[] = []
  for (const collection of Object.keys(collections)) {
    const entries = await getCollection(collection as any)
    entries.forEach(entry => {
      routes.push({
        params: { slug: entry.slug, category: collection }, props: { entry },
      })
    })
  }
  return routes
}
const { entry } = Astro.props;
const { Content } = await entry.render();

const post = transformEntryToPostWindow(entry)
---
<BaseLayout title={'Olis.tech - ' + entry.data.title}>
  <Post post={post} bigWindow="true">
    <span slot="title">{entry.data.title}</span>
    <Content />
  </Post>
</BaseLayout>
