.hc {
  padding: 72px 0 48px;
  background-color: #69d2e7;
}

.hc__container {
  display: grid;
  grid-template: "sidebar"
                 "posts";
  grid-template-columns: 1fr;
  gap: 16px;
}

.hc__sidebar {
  grid-area: sidebar;
  width: 100%;
  padding-bottom: 16px;
}

.hc__sidebar-title {
  margin: 4px 0 24px;
  font-family: var(--font-family-hightlight);
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
  color: #000;
}

.hc__sidebar-container {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.hc__sidebar-button {
  cursor: pointer;
  padding: 8px 16px;
  font-size: 1.5rem;
  font-weight: 600;
  background: #fff;
  border-radius: .5rem;
}

.hc__posts {
  display: flex;
  grid-area: posts;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.hc__posts > *:last-child {
  margin-top: auto;
}

.hc__post-title--small-centered-text {
  font-size: 1.25rem;
  text-align: center;
}

@media screen and (width >= 900px) {
  .hc {
    padding-bottom: 100px;
  }

  .hc__posts {
    height: 288px;
  }

  .hc__container {
    grid-template: "sidebar posts";
    grid-template-columns: 400px 1fr;
  }
}
