@import "../../../const/styles.module";

$breakpoint-tablet: 900px;

.background {
  padding: $spacing-11 0 $spacing-08;
  background-color: $color-quaternary;

  @media screen and (width >= $breakpoint-tablet) {
    padding-bottom: $spacing-12;
  }
}

.container {
  @include container;

  display: grid;
  grid-template: "sidebar"
                 "posts";
  grid-template-columns: 1fr;
  gap: $spacing-04;


  @media screen and (width >= $breakpoint-tablet) {
    grid-template: "sidebar posts";
    grid-template-columns: 400px 1fr;
  }
}

.sidebar {
  grid-area: sidebar;
  width: 100%;
  padding-bottom: $spacing-04;
}

.sidebar__title {
  margin: 0 0 $spacing-05;

  font-family: $font-family-highlight;
  font-size: $font-size-xlarge;
  font-weight: $font-weight-medium;
  line-height: $font-size-xlarge;
  color: $color-black;
}

.sidebar__container {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-05;
}

.sidebar__button {
  cursor: pointer;

  padding: $spacing-03 $spacing-04;

  font-size: $font-size-medium;
  font-weight: $font-weight-bold;

  background: $color-white;
  border-radius: $border-radius;
}

.posts {
  display: flex;
  grid-area: posts;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;

  @media screen and (width >= $breakpoint-tablet) {
    height: 288px;
  }
}

.posts a {
  text-decoration: none;
}

.posts__container {
  @media screen and (width >= $breakpoint-tablet) {
    min-height: 245px;
  }
}

.post {
  display: flex;

  width: 100%;
  min-height: 40px;
  margin-bottom: $spacing-04;
  padding: $spacing-04 0;

  background: $color-quinary;
  border-radius: $border-radius;
}

.post--small {
  display: grid;
}

.post__title {
  margin: auto 0;
  padding: 0 $spacing-04;

  font-size: 1.5rem;
  font-weight: $font-weight-medium;
  color: $color-black;
}

.post__title--small-centered-text {
  font-size: 1.25rem;
  text-align: center;
}

.posts>*:last-child {
  margin-top: auto;
}
