@import "../../../const/styles.module";

.welcome {
  @include container;

  display: grid;
  grid-template-columns: 1fr auto;
}

.welcome__hi {
  display: flex;
  align-items: center;

  padding-right: $spacing-03;
  padding-left: $spacing-02;

  font-family: $font-family-highlight;
  font-size: 8rem;
  line-height: 1;
  color: #000;
  letter-spacing: -8px;

  & > span {
    position: relative;
  }

  @media screen and (width >= 600px) {
    padding-left: $spacing-05;
  }
}

.welcome__i {
  position: absolute;
  top: 2px;
  transform-origin: 0 0;
  transform: rotate(1deg);

  font-size: 7.6rem;
}

.welcome__text {
  max-width: 800px;
  padding-top: $spacing-02;
  padding-bottom: $spacing-02;
  font-size: $font-size-large;

  @media screen and (width >= 600px) {
    padding-top: $spacing-03;
    padding-bottom: $spacing-03;
  }
}
