@import "./styles.module.scss";

:root {
  --color-black: #{$color-black};
  --color-white: #{$color-white};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-tertiary: #{$color-tertiary};
  --color-quaternary: #{$color-quaternary};
  --color-quinary: #{$color-quinary};
  --color-senary: #{$color-senary};
  --border-size: 2px;
  --border-radius: 0.5rem;
  --shadow-size: 4px;
  --animation-duration: 0.2s;
  --animation-easing: ease-in-out;
  --font-family-default: 'Outfit Variable', sans-serif;
  --font-family-hightlight: 'Space Grotesk Variable', sans-serif;
  --container-max-width: #{$container-max-width};
  --fontsource-display: optional;
}


/* outfit-latin-ext-wght-normal */
@font-face {
  font-family: 'Outfit Variable';
  font-weight: 100 900;
  font-style: normal;
  font-display: optional;
  src: url("@fontsource-variable/outfit/files/outfit-latin-ext-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0100-02AF,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* outfit-latin-wght-normal */
@font-face {
  font-family: 'Outfit Variable';
  font-weight: 100 900;
  font-style: normal;
  font-display: optional;
  src: url("@fontsource-variable/outfit/files/outfit-latin-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* space-grotesk-vietnamese-wght-normal */
@font-face {
  font-family: 'Space Grotesk Variable';
  font-weight: 300 700;
  font-style: normal;
  font-display: optional;
  src: url("@fontsource-variable/space-grotesk/files/space-grotesk-vietnamese-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}

/* space-grotesk-latin-ext-wght-normal */
@font-face {
  font-family: 'Space Grotesk Variable';
  font-weight: 300 700;
  font-style: normal;
  font-display: optional;
  src: url("@fontsource-variable/space-grotesk/files/space-grotesk-latin-ext-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0100-02AF,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* space-grotesk-latin-wght-normal */
@font-face {
  font-family: 'Space Grotesk Variable';
  font-weight: 300 700;
  font-style: normal;
  font-display: optional;
  src: url("@fontsource-variable/space-grotesk/files/space-grotesk-latin-wght-normal.woff2") format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

body {
  font-family: $font-family-default;
  background: $color-quinary;
}

.content {
  min-height: 800px;
  padding: $spacing-11 0 $spacing-08;
  word-break: break-word;
  background: $color-quinary;
}

.content__inner {
  @include container;
}

/* Neo Brutalism */
.border {
  border: $spacing-border solid #000;
}

.shadow {
  box-shadow: $spacing-shadow $spacing-shadow 0 0 #000;
  transition: transform $animation-duration $animation-easing,
  box-shadow $animation-duration $animation-easing;
}

.shadow--hover:hover {
  transform: translate($spacing-shadow, $spacing-shadow);
  box-shadow: 0 0 0 0 #000;
}

/* CSS reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
