---
import { SITE_AUTHOR_MAIL } from '../consts';---
<footer class='footer'>
  <div class="footer__container list">
    <nav>
      <ul class='list'>
        <li><a href='http://olis.wiki/' class='more-link border shadow shadow--hover'>Olis.WIKI</a></li>
        <li><a href='/rss.xml' class='more-link border shadow shadow--hover'>RSS Feed</a></li>
        <li><a href='https://github.com/Defkil' class='more-link border shadow shadow--hover'>Github</a></li>
        <li><a href={'mailto:' + SITE_AUTHOR_MAIL} class='more-link border shadow shadow--hover'>Kontaktier mich!</a></li>
      </ul>
    </nav>
    <ul class='list legal'>
      <li><a href='/impressum' class='legal__link' rel='nofollow'>Impressum</a></li>
      <li><a href='/datenschutzerklaerung' class='legal__link' rel='nofollow'>Datenschutz</a></li>
    </ul>
  </div>
</footer>
<style>
  .footer {
    position: absolute;
    gap: 48px;
    width: 100%;
    background: #69D2E7;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-bottom: 8px;
  }
  .footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 16px 56px;
  }

  .more-link {
    display: block;
    padding: 8px 16px;
    font-family: Space Grotesk Variable, sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    color: #000;
    text-decoration: none;
    background: #fff;
    border-radius: .5rem;
  }

  .legal>li {
    display: flex;
  }

  .legal__link {
    display: inline-block;
    align-self: flex-end;
    color: #000;
  }

  @media screen and (width >= 900px){
    .footer__container {
      justify-content: space-between;
    }
  }
</style>
