---
const {color, bgColor} = Astro.props
---
<div style={{background: bgColor, position: 'relative', height: '30px'}}>
  <div class="wave" style="background: #000; top: 4px; position: absolute"></div>
  <div class="wave" style={{background: color, top: 0, position: 'absolute'}}></div>
</div>

<style>
  .wave {
    --s: 15px;
    --p: 1.3;

    --R: calc(var(--s)*sqrt(var(--p)*var(--p) + 1)) at 50%;
    mask:
      radial-gradient(var(--R) calc(100% - var(--s)*(1 + var(--p))), #000 99%, #0000 101%)
      calc(50% - 2*var(--s)) 0/calc(4 * var(--s)),
      radial-gradient(var(--R) calc(100% + var(--s)*var(--p)), #0000 99%, #000 101%)
      50% calc(-1*var(--s))/calc(4 * var(--s)) repeat-x;
    height: 26px;
    width: 100%;
  }

  @supports not (opacity:sqrt(1)) {
    .wave {
      --R: calc(var(--s) * 1.166) at 50%;
    }
  }
</style>
