---
const {color, bgColor} = Astro.props
---
<div style={{background: color, position: 'relative', height: '30px'}}>
  <div class="wave" style="background: #000; top: 0; position: absolute"></div>
  <div class="wave" style={{background: bgColor, top: '4px', position: 'absolute'}}></div>
</div>

<style>
  .wave {
    --size: 10px;
    --R: calc(var(--size)*1.28);

    -webkit-mask:
      radial-gradient(var(--R) at 50% calc(1.8*var(--size)),#000 99%,#0000 101%)
      calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
      radial-gradient(var(--R) at 50% calc(-.8*var(--size)),#0000 99%,#000 101%)
      50% var(--size)/calc(4*var(--size)) 100% repeat-x;
    height: 26px;
    width: 100%;
  }
</style>
