@import "../../../const/styles.module";

$breakpoint-tablet: 900px;

.background {
  min-height: 280px;
  padding: 48px 0 24px;
  background-color: var(--color-quaternary);

  @media screen and (width >= $breakpoint-tablet) {
    padding: 48px 0 40px;
  }
}

.container {
  @include container;

  display: grid;
  grid-template: "sidebar"
                 "posts";
  grid-template-columns: 1fr;
  gap: 24px 12px;


  @media screen and (width >= $breakpoint-tablet) {
    grid-template: "sidebar posts";
    grid-template-columns: 400px 1fr;
  }
}

.sidebar {
  grid-area: sidebar;
  width: 100%;
  padding-bottom: 24px;
}

.sidebar__title {
  margin: 0 0 42px;

  font-family: var(--font-family-hightlight);
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
  color: var(--color-black);
}

.sidebar__container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @media screen and (width >= 630px) { gap: 22px; }
}

.sidebar__button {
  cursor: pointer;

  padding: 10px 18px;

  font-weight: bold;

  background: var(--color-white);
  border-radius: var(--border-radius);
}

.posts {
  display: flex;
  grid-area: posts;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
}

.posts a {
  text-decoration: none;
}

.posts__details {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 0 24px;

  font-size: 1.2rem;
}


.post {
  display: flex;

  width: 100%;
  min-height: 40px;
  margin-bottom: 16px;
  padding: 12px 0;

  background: var(--color-quinary);
  border-radius: var(--border-radius);
}

.post--small {
  display: grid;
}

.post__image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.post__title {
  margin: auto 0;
  padding: 0 26px;

  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-black);
}

.post__title--small-centered-text {
  font-size: 1.25rem;
  text-align: center;
}

.posts>*:last-child {
  margin-top: auto;
}
