---
import WaveSeparator from "../WaveSeparator.astro";
import {styles} from "../../const/styles";
import HeaderCategories from "./HeaderCategories.astro";
---
<div class="header">
  <header-search>
    <header class='header__container'>
      <h1 class='title'>
        <a href="/"><button class="title__button">Olis.tech</button></a>
      </h1>
      <div class='search'>
        <label class="search__label">
          <input type="text" placeholder="Wie zentriere ich eine div?" class="search__input border shadow shadow--hover" />
        </label>
        <button class="search__button border shadow shadow--hover">Suchen</button>
      </div>
    </header>
  </header-search>
</div>
<WaveSeparator color={styles["color-secondary"]} />
<HeaderCategories />
<WaveSeparator color={styles["color-senary"]} />
<script>
  class HeaderSearch extends HTMLElement {
    constructor() {
      super();
    }
  }

  customElements.define('header-search', HeaderSearch);
</script>
<style>
  .header {
    position: relative;
    padding: 60px 0 40px;
    background: var(--color-secondary);
  }

  .header__container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 18px;

    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 6px;
  }

  .title {
    margin-right: auto;
  }

  .title__button {
    cursor: pointer;

    font-family: var(--font-family-hightlight);
    font-size: 6rem;
    color: var(--color-quaternary);
    text-shadow: var(--shadow-size) var(--shadow-size) var(--color-black);

    background: none;
    border: none;

    transition: transform var(--animation-duration) var(--animation-easing),
    text-shadow var(--animation-duration) var(--animation-easing);
  }

  .title__button:hover {
    transform: translate(var(--shadow-size), var(--shadow-size));
    text-shadow: 0 1px var(--color-black), 1px 0 var(--color-black), -1px 0 var(--color-black), 0 -1px var(--color-black);
  }

  .search {
    display: flex;
    gap: 18px;
    align-items: center;

    height: 60%;
    padding-top: 5%;
  }

  .search__label {
    height: 100%;
  }

  .search__input, .search__button {
    height: 100%;
    padding: 0 24px 0 28px;

    font-size: 30px;
    color: var(--color-black);

    background: var(--color-white);
    border-radius: var(--border-radius);
  }

  .search__input {
    flex: 1;
    box-sizing: border-box;
    padding-right: 18px;
  }

  .search__input:focus {
    outline: none;
  }

  .search__button {
    cursor: pointer;
  }
</style>
