@import "../../const/styles.module";

.header {
  background: var(--color-secondary);

  @media screen and (width >= 900px) {
    padding: 60px 0 40px;
  }
}


.header__categories {
  position: relative;
  z-index: 1;
}

.header__container {
  @include container;

  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;

  @media screen and (width >= 900px) {
    grid-template-columns: 1fr auto;
  }
}

.title {
  width: 100%;
  margin-right: auto;
  text-align: center;

  @media screen and (width >= 900px) {
    text-align: left;
  }
}

.title__button {
  cursor: pointer;

  font-family: var(--font-family-hightlight);
  font-size: 3rem;
  font-weight: 800;
  color: var(--color-quaternary);
  text-shadow: var(--shadow-size) var(--shadow-size) var(--color-black);

  background: none;
  border: none;

  transition: transform var(--animation-duration) var(--animation-easing),
  text-shadow var(--animation-duration) var(--animation-easing);

  @media screen and (width >= 330px) { font-size: 4.5rem; }

  @media screen and (width >= 400px) { font-size: 5rem; }

  @media screen and (width >= 450px) { font-size: 6rem; }
}


.title__button:hover {
  transform: translate(var(--shadow-size), var(--shadow-size));
  text-shadow: 0 1px var(--color-black), 1px 0 var(--color-black), -1px 0 var(--color-black), 0 -1px var(--color-black);
}

.search {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.search__input {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 0 18px 0 28px;

  font-size: 30px;
  color: var(--color-black);

  background: var(--color-white);
  border-radius: var(--border-radius);
}

.search__input:focus {
  outline: none;
}
