---
import WaveSeparator from "../WaveSeparator.astro";
import {styles} from "../../const/styles";
import HeaderCategories from "./header-categories/HeaderCategories.astro";
import './Header.scss'
import {SITE_TITLE} from "../../const/data";
---
<div class="header">
  <header class='header__container'>
    <h1 class='title'>
      <a href="/" data-swup-preload>
        <button class="title__button" tabindex="-1">{SITE_TITLE}</button>
      </a>
    </h1>
    <header-search class='search'>
      <label class="search__label">
        <input type="text" placeholder="Seite durchsuchen" class="search__input border shadow shadow--hover js--search-input"/>
      </label>
    </header-search>
  </header>
</div>
<div class="header__categories">
  <WaveSeparator color={styles["color-secondary"]}/>
  <HeaderCategories />
  <WaveSeparator color={styles["color-quaternary"]}/>
</div>
<script>
  class HeaderSearch extends HTMLElement {
    dom = {
      input: this.querySelector('.js--search-input') as HTMLInputElement
    }

    connectedCallback() {
      this.dom.input.addEventListener('click', this.openSearch)
      this.dom.input.addEventListener('input', this.openSearch)
    }

    disconnectedCallback() {
      this.dom.input.removeEventListener('click', this.openSearch)
      this.dom.input.removeEventListener('input', this.openSearch)
    }

    openSearch = this._openSearch.bind(this)
    _openSearch() {
      this.dom.input.value = ''
      window.dispatchEvent(new KeyboardEvent('keydown', { 'key': 'k', ctrlKey: true, }));
    }
  }

  customElements.define('header-search', HeaderSearch);
</script>
