---
import WaveSeparator from "../WaveSeparator.astro";
import {styles} from "../../const/styles";
import HeaderCategories from "./HeaderCategories.astro";
---
<div class="header">
  <header-search>
    <header class='header__container container'>
      <h1 class='header__title '>
        <a href="/"><button class="header__title__button righteous">Olis.tech</button></a>
      </h1>
      <div class='header__search'>
        <label class="header__search__label">
          <input type="text" placeholder="Wie zentriere ich eine div?" class="header__search__input br-border br-shadow" />
        </label>
        <button class="header__search__button br-border br-shadow">Suchen</button>
      </div>
    </header>
  </header-search>
</div>
<WaveSeparator color={styles["color-secondary"]} />
<HeaderCategories />
<WaveSeparator color={styles["color-senary"]} />
<script>
  class HeaderSearch extends HTMLElement {
    constructor() {
      super();
    }
  }

  customElements.define('header-search', HeaderSearch);
</script>
<style>
  .header {
    background: var(--color-secondary);
    position: relative;
    padding: 60px 0 40px 0;
  }

  .header__container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 18px;
    padding: 0 6px;
  }

  .header__title {
    margin-right: auto;
  }

  .header__title__button {
    font-size: 6rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-quaternary);
    text-shadow: var(--br-shadow-size) var(--br-shadow-size) #000;

    transition: transform var(--br-animation-duration) var(--br-animation-easing),
    text-shadow var(--br-animation-duration) var(--br-animation-easing);
  }

  .header__title__button:hover {
    text-shadow: 0 1px #000, 1px 0 #000, -1px 0 #000, 0 -1px #000;
    transform: translate(var(--br-shadow-size), var(--br-shadow-size));
  }

  .header__search {
    display: flex;
    gap: 18px;
    align-items: center;
    height: 60%;
    padding-top: 5%;
  }

  .header__search__label {
    height: 100%;
  }

  .header__search__input, .header__search__button {
    height: 100%;
    font-size: 30px;
    background: var(--color-white);
    color: var(--color-black);
    padding: 0 16px;
  }

  .header__search__input {
    box-sizing: border-box;
    flex: 1;
  }

  .header__search__input:focus {
    outline: none;
  }

  .header__search__button {
    cursor: pointer;
  }
</style>
