<div class="masonry">
  <slot />
</div>
<script>
  import Macy from "macy";

  const CONTAINER_SELECTOR = '.masonry';

  const runMacy = () => {
    return Macy({
      container: CONTAINER_SELECTOR,
      trueOrder: true,
      waitForImages: false,
      margin: 24,
      columns: 1,
      mobileFirst: true,
      breakAt: {
        1200: 3,
        800: 2,
      }
    });
  };

  runMacy();
  document.addEventListener('swup:contentReplaced', () => {
    if (document.querySelector(CONTAINER_SELECTOR) === null) {
      return
    }
    runMacy().recalculate(true)
  });
</script>
<style>
  .masonry {
    overflow: hidden;
  }
</style>
