---
const { color } = Astro.props
---
<style define:vars={{color}}>
  .separator {
    position: relative;
    width: 100%;
  }

  .separator::before, .separator::after {
    content: "";

    position: absolute;
    bottom: -16px;

    width: 100%;
    height: 16px;
  }

  .separator::before {
    background-color: var(--color);
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask: url('/images/layout/wave.svg');
    mask: url('/images/layout/wave.svg');
  }

  .separator::after {
    background: transparent url('/images/layout/wave-border.svg') 0 repeat-x;
  }
</style>
<div class="separator">
</div>
