@import "../../const/styles.module";

.footer {
  position: absolute;
  gap: $spacing-08;
  width: 100%;
  background: $color-quaternary;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-04;
  justify-content: center;

  margin-bottom: 8px;
}

.footer__container {
  @include container;

  padding: $spacing-12 $spacing-04 $spacing-09;

  @media screen and (width >= 900px) {
    justify-content: space-between;
  }
}

.more-link {
  display: block;

  padding: $spacing-03 $spacing-04;

  font-family: $font-family-highlight;
  font-size: $font-size-large;
  font-weight: $font-weight-extra-bold;
  color: $font-color-black;
  text-decoration: none;

  background: $color-white;
  border-radius: $border-radius;
}

.legal > li {
  display: flex;
}

.legal__link {
  display: inline-block;
  align-self: flex-end;
  color: $font-color-black;
}
