---
import './Footer.scss'
import {SITE_AUTHOR_MAIL} from "../../const/data";
---
<footer class='footer'>
  <div class="footer__container list">
    <nav>
      <ul class='list'>
        <li><a href='http://olis.wiki/' class='more-link border shadow shadow--hover'>Olis.WIKI</a></li>
        <li><a href='/rss.xml' class='more-link border shadow shadow--hover'>RSS Feed</a></li>
        <li><a href='https://github.com/Defkil' class='more-link border shadow shadow--hover'>Github</a></li>
        <li><a href={'mailto:' + SITE_AUTHOR_MAIL} class='more-link border shadow shadow--hover'>Kontaktier mich!</a></li>
      </ul>
    </nav>
    <ul class='list legal'>
      <li><a href='/impressum' class='legal__link' rel='nofollow'>Impressum</a></li>
      <li><a href='/datenschutzerklaerung' class='legal__link' rel='nofollow'>Datenschutz</a></li>
    </ul>
  </div>
</footer>
<script>
  var _paq = window._paq = window._paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://1bx.de/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
