---
import './Footer.scss'
import {SITE_AUTHOR} from "../../const/data";
---
<footer class='footer'>
  <div class="footer__container list">
    <nav>
      <ul class='list'>
        <li><a href='http://olis.wiki/' class='more-link border shadow shadow--hover'>Olis.WIKI</a></li>
        <li><a href='https://github.com/Defkil' class='more-link border shadow shadow--hover'>Github</a></li>
        <li><a href='https://twitter.com/OliverGruettner' class='more-link border shadow shadow--hover'>Twitter</a></li>
        <li><a href={'mailto:' + SITE_AUTHOR} class='more-link border shadow shadow--hover'>Kontaktier mich!</a></li>
      </ul>
    </nav>
    <ul class='list legal'>
      <li><a href='/datenschutzerklaerung' class='legal__link' rel='nofollow'>Impressum</a></li>
      <li><a href='/impressum' class='legal__link' rel='nofollow'>Datenschutz</a></li>
    </ul>
  </div>
</footer>

