---
import './Footer.scss'
import {SITE_AUTHOR_MAIL} from "../../const/data";
---
<footer class='footer'>
  <div class="footer__container list">
    <nav>
      <ul class='list'>
        <li><a href='http://olis.wiki/' class='more-link border shadow shadow--hover'>Olis.WIKI</a></li>
        <li><a href='/rss.xml' class='more-link border shadow shadow--hover'>RSS Feed</a></li>
        <li><a href='https://github.com/Defkil' class='more-link border shadow shadow--hover'>Github</a></li>
        <li><a href={'mailto:' + SITE_AUTHOR_MAIL} class='more-link border shadow shadow--hover'>Kontaktier mich!</a></li>
      </ul>
    </nav>
    <ul class='list legal'>
      <li><a href='/impressum' class='legal__link' rel='nofollow'>Impressum</a></li>
      <li><a href='/datenschutzerklaerung' class='legal__link' rel='nofollow'>Datenschutz</a></li>
    </ul>
  </div>
</footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G89HDLRBGG"></script>
<script is:inline>if (window['gtagClientID'] === undefined || typeof window['gtagClientID'] === 'string'){const randomString = () => Math.random().toString(20).substr(2, length);window['gtagClientID'] = randomString() + randomString()}window["dataLayer"] = window["dataLayer"] || [];window["gtag"] = function () { window["dataLayer"].push(arguments); };window["gtag"]('js', new Date());window["gtag"]('config', 'G-G89HDLRBGG', {'anonymize_ip': true, 'client_storage': 'none', 'client_id': window['gtagClientID']});</script>
