---
import Header from "../components/header/Header.astro";
import Head from "./components/Head.astro";
const { title, description } = Astro.props
---

<html lang="de">
<head>
  <Head title={title} description={description} />
</head>
<body>
<Header/>
<main id="swup">
  <slot />
</main>
<script>
  import Swup from 'swup'
  import SwupHeadPlugin from '@swup/head-plugin'
  import SwupSlideTheme from '@swup/slide-theme'
  import SwupPreloadPlugin from '@swup/preload-plugin';

  window['swup'] = new Swup({
    plugins: [
      new SwupHeadPlugin(),
      new SwupPreloadPlugin(),
      new SwupSlideTheme({ reversed: false })
    ],
  })
</script>
</body>
</html>
