---
import Header from "../components/header/Header.astro";
import Head from "./components/Head.astro";
import PreloadSvg from "./components/PreloadSvg.astro";
import AlgoliaSearch from "./components/AlgoliaSearch.astro";
import FooterScripts from "./components/FooterScripts.astro";
import Footer from "../components/footer/Footer.astro";
import {styles} from "../const/styles";
import WaveSeparator from "../components/WaveSeparator.astro";

const { title, description, category } = Astro.props
---

<html lang="de">
<head>
  <Head title={title} description={description} />
</head>
<body>
<PreloadSvg />
<Header category={category} />
<main class="content">
    <div id="swup">
      <div class="content__inner">
        <slot />
      </div>
    </div>
</main>
<WaveSeparator color={styles["color-quinary"]}/>
<Footer />
<FooterScripts />
<AlgoliaSearch />
</body>
</html>
