---
import Header from "../components/header/Header.astro";
import Head from "./components/Head.astro";
import PreloadSvg from "./components/PreloadSvg.astro";
import AlgoliaSearch from "./components/AlgoliaSearch.astro";
import Swup from "./components/Swup.astro";
import Footer from "../components/footer/Footer.astro";

const { title, description, category } = Astro.props
---

<html lang="de">
<head>
  <Head title={title} description={description} />
</head>
<body>
<PreloadSvg />
<Header category={category} />
<main id="swup">
  <slot />
</main>
<Footer />
<Swup />
<AlgoliaSearch />
</body>
</html>
