---
import Header from "./components/Header.astro";
import Head from "./components/Head.astro";
const { title, description } = Astro.props
---

<html lang="de">
<head>
  <Head title={title} description={description} />
</head>
<body>
<Header/>
<main>
  <slot />
</main>
</body>
</html>
