---
import Header from "../components/header/Header.astro";
import Head from "./components/Head.astro";
import PreloadSvg from "./components/PreloadSvg.astro";
import AlgoliaSearch from "./components/AlgoliaSearch.astro";

const { title, description, category } = Astro.props
---

<html lang="de">
<head>
  <Head title={title} description={description} />
</head>
<body>
<PreloadSvg />
<Header category={category} />
<main id="swup">
  <slot />
</main>
<script>
  import Swup from 'swup'
  // @ts-expect-error
  import SwupHeadPlugin from '@swup/head-plugin'
  // @ts-expect-error
  import SwupSlideTheme from '@swup/slide-theme'
  // @ts-expect-error
  import SwupPreloadPlugin from '@swup/preload-plugin';

  (window as any)['swup'] = new Swup({
    plugins: [
      new SwupPreloadPlugin(),
      new SwupHeadPlugin(),
      new SwupSlideTheme({ reversed: false })
    ],
  })
</script>
<AlgoliaSearch />
</body>
</html>
